@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,600;1,14..32,600&family=Special+Gothic+Expanded+One&display=swap');
@import "tailwindcss";

@theme{
    --font-Gothic:"Special Gothic Expanded One", sans-serif;
    --font-body : "inter", sans-serif;
  }


body{
    background-color: black;
    overflow-x: hidden;
}

.primary-button{
    color: white;
    padding: 16px 24px;
    background: #201F1F;
    box-shadow: inset -3px 5px 4px #2C2C2C;
    border-radius: 8px;
    cursor: pointer;
    font-family: sans-serif;
}

.secondary-button{
color: white;
padding: 16px 24px;
background: #FF5200;
box-shadow: inset -3px 5px 4px #FE6D2F;
border-radius: 8px;
cursor: pointer;
font-family: sans-serif;
}



  .iti {
    width: 100%;
  }
  .iti__country-list {
    background-color: #374151 !important; /* bg-gray-700 */
    border-color: #4B5563 !important; /* border-gray-600 */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  .iti__divider {
    border-bottom-color: #4B5563 !important; /* border-gray-600 */
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  .iti__country {
    color: #F3F4F6 !important; /* text-gray-200 */
  }
  .iti__country:hover, .iti__country.iti__highlight {
    background-color: #4B5563 !important; /* hover:bg-gray-600 */
  }
  .iti__selected-flag {
    background-color: transparent !important;
  }
  .iti__arrow {
    border-top-color: #9CA3AF !important; /* text-gray-400 */
  }
  .iti__arrow--up {
    border-bottom-color: #9CA3AF !important; /* text-gray-400 */
  }
